@charset "utf-8";
/* CSS Document */

/*=====================以下部分是WebUploader必须的====================*/
.webuploader-container{ height:32px; overflow:hidden; position:absolute; top:0px; right:0px;}
.webuploader-element-invisible{ position:absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px,1px,1px,1px); }
.webuploader-pick{ height:32px; float:right; font-size:14x; color:#333; padding:0 20px; line-height:32px; position:relative; cursor:pointer; background:#DFDFDF;}
.webuploader-pick-hover{ background:#00BAAB;}
.webuploader-pick-disable{ opacity:0.6; pointer-events:none; }
/*=====================以上部分是WebUploader必须的====================*/
	
/*===================== 上传样式 =====================*/
.upload-img{ height:32px; position:relative;}
.upload-progress{ width:100%; height:32px; float:left; position:absolute; top:0px; right:0px; background:#000;}
.upload-progress .txt{ width:100%; height:32px; float:left; line-height:32px; text-align:center; overflow:hidden; z-index:2; position:absolute; top:0px; left:0px;}
.upload-progress .bar{ width:100%; height:32px; float:left; position:relative; background:#DFDFDF;}
.upload-progress .bar b{ width:0%; height:32px; display:block; overflow:hidden; text-indent:-99em; background:#DD5AF4;}
.upload-progress .close{ width:40px; height:32px; float:left; position:absolute; top:0px; right:-95px; text-align:center; cursor:pointer; overflow:hidden; background:#CCC;}
.upload-progress .close:hover{ background:#DDD;} 