*{ 
	margin:0px; 
	padding:0px; 
	border:none; 
	color:#333; 
	font-size:12px; 	
	list-style-type:none;
	font-family:"Microsoft YaHei"; 
}

/* 登陆 --------------- */
.login{ width:609px; height:396px; padding:6px 35px 8px 6px; position:absolute; top:50%; left:50%; z-index:99; margin:-216px 0 0 -310px;
	animation-name:donghua;
	animation-duration:0.5s;
	animation-iteration-count:1;
	animation-timing-function:ease-in;
}
.login .main{ width:100%; float:left; padding:190px 0 10px 0; position:relative;
	animation-name:yangchi;
	animation-duration:0.3s;
	animation-iteration-count:1;
	animation-delay:0.6s;
	animation-fill-mode:both;
}
.login .main dd{ width:100%; height:30px; float:left; padding:0 0 10px 0;}
.login .main dd u{ width:190px; height:30px; float:left; color:#054154; font-size:14px; line-height:30px; padding:0 10px 0 0; text-align:right; text-decoration:none;}
.login .main dd input{ width:209px; height:16px; float:left; padding:6px 0 6px 10px; border:1px solid #B2B6B6; background:none;}
.login .main dd input.code{ width:79px;}
.login .main dd a{ height:30px; float:left; line-height:30px;}
.login .main dd a img{ height:30px; float:left; padding:0 10px;}
.login .main dt{ height:35px; float:left; padding:10px 0 0 200px;}
.login .main dt input{ width:145px; height:35px; float:left; cursor:pointer; font-size:16px; border-radius:3px; line-height:33px; color:#fff; text-align:center;background-color:#000000;}
.login .main dt a{ height:35px; float:left; line-height:35px; font-size:13px; margin:0 0 0 25px; color:#006BBB; text-decoration:underline;}
.login .main dt a:hover{ text-decoration:none;}